<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            {{#each products}}
                <tr>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{description}}
                    </td>
                    <td>
                        {{price}}
                    </td>
                    <td>
                        {{quantity}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>