
<div class="alert alert-success" role="alert">{{message}}</div>

<table style="width:100%">
    <tr>
        <th>Product</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    {{findAllProducts}}

    <tr>

    </tr>

</table>